{% extends 'base.html.twig' %}

{% block title %}
    Commentaires
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h1>Commentaires à revoir</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
        <table class="col-11 table table-hover bordered mt-3">
            <thead class="primary">
            <tr>
                <th scope="col">Auteur</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Article</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr class="table-active">
                    <td>{{ comment.getUser().getFirstname() }} {{ comment.getUser().getLastname() }}</td>
                    <td>{{ comment.getUser().getEmail() }}</td>
                    <td>{{ comment.getDate|date("m/d/Y H:i:s") }}</td>
                    <td>
                        <a href="{{ 'article/' ~ comment.getArticle().getId() }}">{{ comment.getArticle().getTitle() }}</a>
                    </td>
                    <td style="max-width: 35em">
                        {{ comment.getContent() }}
                    </td>
                    <td style="min-width: 9em">
                        <fieldset>
                            <form class="form-group" action="/comments" method="POST">
                                <input name="commentId" value="{{ comment.getId() }}" style="display: none">
                                <select class="custom-select" name="state">
                                    <option selected="{{ comment.getState() }}">{{ comment.getState() }}</option>
                                    {% for state in commentStates %}
                                        <option value="{{ state }}">{{ state }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-warning">Save</button>
                            </form>
                        </fieldset>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}