{% extends 'base.html.twig' %}

{% block title %}
    A propos
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-3">A propos</h1>
        <img src="{{ imagePath ~ '/blogImage.png' }}" class="img-fluid mt-4" alt="Image blog">
        <p class="lead mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus eleifend sapien, eget facilisis neque.
            In arcu turpis, accumsan id luctus sed, fermentum quis erat. Nullam non erat convallis, consequat velit ut,
            aliquam leo. Morbi molestie nisl a nisi porta scelerisque. Maecenas tempus, turpis non iaculis efficitur,
            tortor ante ultricies purus, ac aliquet risus sem eget turpis. Etiam ultrices maximus eros quis luctus.
            Donec a ante nec mi luctus tristique sit amet ac tortor. Cras ut lacus mollis, convallis quam sed, dictum
            tortor. Maecenas dolor sem, aliquet vitae bibendum ut, hendrerit eget tellus. Maecenas finibus quam nisl,
            accumsan commodo nunc ornare nec.

            Nulla id nisi vitae dui placerat maximus. Fusce non ante ex. Integer at ante varius, tincidunt nibh eget,
            faucibus nulla. Vivamus bibendum lacus justo, a placerat elit accumsan et. Etiam maximus, tortor mollis
            feugiat mollis, dui sem imperdiet metus, et accumsan sem magna ut nulla. Integer imperdiet odio id quam
            ultrices interdum. In tincidunt quam vel tortor sodales, nec eleifend ligula lobortis.
        </p>
    </div>
{% endblock %}