{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container text-center">
        <h1 class="mt-3">Contactez nous !</h1>
        <div class=" jumbotron d-flex justify-content-center mt-3">
            <div class="col-9">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success mt-3"> Submit</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}