{% extends 'base.html.twig' %}

{% block title %}Blog sans nom{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="h3 font-weight-normal text-center">Bienvenu sur le blog sans nom !</h1>

</div>
{% endblock %}
