{# <footer class="navbar navbar-expand-lg navbar-dark bg-primary" style="position:fixed; bottom:0; width:100%; height: 5%;">
  <div class="collapse navbar-collapse justify-content-center">
    <ul class="navbar-nav list-group-horizontal">
      <li class="item">
        <a class="sn fa fa-facebook" href="#"></a>
      </li>
      <li class="item">
        <a class="sn fa fa-twitter" href="#"></a>
      </li>
      <li class="item">
        <a class="sn fa fa-linkedin" href="#"></a>
      </li>
    </ul>
  </div>
</footer> #}

<footer class="dk-footer bg-primary" style="position:fixed; bottom:0; width:100%;  height: 5%;">
        <div class="container justify-content-center">
                <ul class=" navbar-nav list-group-horizontal">
                    <li>
                        <a href="#">
                            <i class="sn fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sn fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sn fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sn fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sn fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
        </div>
</footer>

