<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand">Mon Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="/article/create">Créer un article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/article/undisplayed">Articles Masqués</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comments">Commentaires</a>
            </li>
        {% elseif is_granted('ROLE_USER')%}
            <li class="nav-item">
                <a class="nav-link" href="/like-share">Liké</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/about">À propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
    <ul class="navbar-nav form-inline my-lg-0">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="/register">Créer un compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Se connecter</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Déconnexion</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>