{% extends 'base.html.twig' %}

{% block title %}
    Articles
{% endblock %}

{% form_theme categoryForm 'bootstrap_4_layout.html.twig' %}
{% form_theme titleForm 'bootstrap_4_layout.html.twig' %}
{% do articles.setTemplate('pagination_template.html.twig') %}

{% block body %}
    <div>
        <div class="d-flex justify-content-center">
            <div class="m-3">
                {{ form_start(categoryForm) }}
                {{ form_end(categoryForm) }}
            </div>
            <div class="m-3">
                {{ form_start(titleForm) }}
                {{ form_end(titleForm) }}
            </div>
        </div>
        <div class="card-deck">
            {% for article in articles %}
                {% if article.getStatus() == 1 %}
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <a href="{{ 'article/' ~ article.getId() }}">
                                <img src="{{ imagePath ~ '/' ~ article.getImage() }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h4 class="d-flex justify-content-between align-items-center">
                                    <span class="badge badge-secondary badge-info">{{ article.getCategory().getName() }}</span>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <form action="/" method="post">
                                            <button type="submit" name="like" value="{{ article.getId() }}" class="btn btn-success">Like</button>
                                        </form>
                                    {% endif %}
                                </h4>
                                <h5 class="card-title"> {{ article.getTitle() }}</h5>
                                <p class="card-text">{{ article.getContent()|slice(0, 50) ~ " ..." }}</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        {{ article.getAuthor().getFirstname() }} {{ article.getAuthor().getLastname() }}
                                    </small>
                                </p>
                                <p class="card-text">
                                    {{ article.getDate()|date("m/d/Y H:i:s") }}
                                </p>
                                <a href="{{ 'article/' ~ article.getId() }}" class="btn btn-primary">Lire l'article</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="container d-flex justify-content-center mt-4">
                <div>
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .card {
            margin: 2em;
        }

        .card-img-top {
            width: 100%;
            height: 15rem !important;
            object-fit: cover;
        }
    </style>
{% endblock %}
