{% extends 'base.html.twig' %}

{% block title %}
    {{ article.getTitle() }}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div>
        {% if is_granted('ROLE_ADMIN') %}
            <div>
                <button type="button" class="btn btn-warning" onclick="location.href ='/article/edit/{{ article.getId() }}'">Modifier l'article</button>
                <form action="" method="POST">
                    <input class="btn btn-danger" type="submit" name="delete" value="Supprimer" />
                </form>
            </div>
        {% endif %}
        <div class="d-flex justify-content-center">
            <div class="card mb-3 text-center col-6">
                <h3 class="card-header">{{ article.getTitle() }}</h3>
                <div class="card-body">
                    <h5 class="card-title">{{ article.getAuthor().getFirstname() }} {{ article.getAuthor().getLastname() }}</h5>
                    <h6 class="card-subtitle text-muted">{{ article.getDate()|date("m/d/Y H:i:s") }}</h6>
                </div>
                <img src="{{ imagePath ~ '/' ~ article.getImage() }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        {{ article.getContent() }}
                    </p>
                </div>
                <hr>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <form action="/" method="post">
                        <button type="submit" name="like" value="{{ article.getId() }}" class="btn btn-success">Like</button>
                    </form>
                {% endif %}
                <div class="card-body">
                    <h4>Commentaires</h4>
                    <li class="list-group-item">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-success mt-3"> Submit</button>
                        {{ form_end(form) }}
                    </li>
                    <ul class="list-group">
                        {% for comment in comments %}
                            {% if comment.getState() == commentStatesDisplayed %}
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <p class="author-name">
                                            {{ comment.getUser().getFirstname() ~ ' ' ~ comment.getUser().getLastname() ~ ' : ' }}
                                        </p>
                                        <p>
                                            {{ comment.getContent() }}
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        {{ comment.getDate()|date("m/d/Y H:i:s") }}
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        p.author-name {
            font-weight: bold;
        }
    </style>
{% endblock %}