{% extends 'base.html.twig' %}

{% block title %}
    Articles masqués
{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center">
    <h1>Articles masqués</h1>
    <table class="col-11 table table-hover bordered mt-3">
        <thead class="primary">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Contenu</th>
            <th scope="col">Date</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr class="table-active">
                <td>
                    <a href="{{ article.getId() }}">{{ article.getTitle() }}</a>
                </td>
                <td>{{ article.getContent()|slice(0, 100) ~ " ..." }}</td>
                <td>{{ article.getDate()|date("m/d/Y H:i:s") }}</td>
                <td>{{ article.getCategory().getName()}}</td>
                <td style="min-width: 9em">
                    <fieldset>
                        <form class="form-group" action="/article/undisplayed" method="POST">
                            <input name="articleId" value="{{ article.getId() }}" style="display: none">
                            <select class="custom-select" name="state">
                                <option selected="{{ states['Masqué'] }}">{{ states['Masqué'] }}</option>
                                <option value="{{ states['Affiché'] }}">{{ states['Affiché'] }}</option>
                            </select>
                            <button type="submit" class="btn btn-warning">Save</button>
                        </form>
                    </fieldset>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}