{% extends 'base.html.twig' %}

{% block title %}
    Like et Partage
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h2>Articles Likés</h2>
        <div class="card-deck mt-3">
            {% for article in likeArticle %}
                {% if article.getStatus() == 1 %}
                    <div class="col">
                        <div class="card" style="width: 20rem;">
                            <a href="{{ 'article/' ~ article.getId() }}">
                                <img src="{{ imagePath ~ '/' ~ article.getImage() }}" class="card-img-top" alt="..." style="height: 10rem">
                            </a>
                            <div class="card-body">
                                <h4 class="d-flex justify-content-between align-items-center">
                                    <span class="badge badge-secondary badge-info">{{ article.getCategory().getName() }}</span>
                                </h4>
                                <h5 class="card-title"> {{ article.getTitle() }}</h5>
                                <p class="card-text">{{ article.getContent()|slice(0, 50) ~ " ..." }}</p>
                                <a href="{{ 'article/' ~ article.getId() }}" class="btn btn-primary">Show article</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
