{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="h3 font-weight-normal text-center">Formulaire d'inscription</h1>
        {{form_start(form)}}
        {{form_widget(form)}}
            <button type="submit" class="btn btn-primary"> Submit</button>
        {{form_end(form)}}
    </div>
{% endblock %}