{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur le blog sans nom{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Programmes/xampp/htdocs/DevBack/blog-zoe/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Programmes/xampp/htdocs/DevBack/blog-zoe/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
